<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Accueil"></ion-back-button>
    </ion-buttons>

    <ion-title>week-prevision</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="display: flex; align-items: center; justify-content: center;">
  <div style="margin-top: 3em; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;">
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
    <app-weather-presenter style="display: inline-block;"></app-weather-presenter>
  </div>
</ion-content>
