<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Izanami
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Izanami</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="height: 100%; max-height: fit-content;">
    
    <ion-searchbar placeholder="Entrez votre ville" style="min-height: 10em; top: 0px"></ion-searchbar>
    
    <div style="height: 100%;">
      <div>
        <!-- <p style="font-size: xx-large;">⛅</p> -->
        <ion-icon name="partly-sunny" style="font-size: 10em;"></ion-icon>
        <p>30°C</p>
        <p>localisation</p>
      </div>
      
      <div>
        <p>💧 70%</p>
        <p>risque d'averces</p>
      </div>

      <!-- Round -->
      <ion-button shape="round" routerLink="/week-prevision">
        Prévisions sur 7j ☔
      </ion-button>
      <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    </div>

  </div>
</ion-content>
