<div class="presenter" style="display: flex; align-items: center; justify-content: center; text-align: center;">
  <ion-card style="padding: 2.5em;">

    <ion-card-content>
      <p>Lundi</p>
      <div>
        <ion-icon name="{{visualisation}}" style="font-size: 10em;"></ion-icon>
      </div>

      <div>
        <p style="font-size: 1.5em;">{{temperature}}</p>
        <p style="font-size: 1.5em;">{{humidity}}</p>
      </div>
    </ion-card-content>
    
    <ion-card-header>
      <ion-card-title>{{location}}</ion-card-title>
      <ion-card-subtitle>{{commentary}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</div>
